.orders {
    /* display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-bottom: 50px;
    padding: 50px;
    align-items: center;
    border: blue 1px solid;
    background: rgba(0, 0, 0, 0.5); */
    color: #674ae6;
}