/* Dashboard container */
.container-fluid {
    padding: 0;
  }
  
  /* Each column */
  .col-md-6 {
    padding: 10px;
  }
  
  /* Links */
  .nav-link {
    color: #000;
    text-decoration: none;
  }
  
  /* Card styles */
  .card-link {
    background-color: #e7e0e0;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    display: block;
    text-decoration: none;
  }
  
  .card-link:hover {
    background-color: #d8d2d4;
    transform: scale(0.95);
  }
  
  /* Icon styles */
  .card-icon {
    font-size: 5rem;
  }
  
  /* Text styles */
  .card-title {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  /* Badge styles */
  .badge {
    font-size: 1.2rem;
    vertical-align: middle;
  }
  