/* Basic styling for your login form */




.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(170deg, rgb(147, 100, 100), white); */
  background-image: url(C:\Users\KITS\foodmenu1\client\src\assets\50-Beautiful-and-Minimalist-Presentation-Backgrounds-040.jpg);
    background-repeat: no-repeat;
    /* border: rgb(147, 100, 100); */
  }
  
  form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #04AA6D;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  